@import "compass";
%animate {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/*=======================================*/
$tab_button_text_color: #a30404;
$tab_button_active_border_color: #a30404;
$tab_button_hover_background_color: rgba(#000,0.05);
/*=======================================*/
.simple_tabs {
  &_horizontal{
    .tabs_buttons {
      display: table;
      width: 100%;
      .tab_button_wrapper {
        position: relative;
        display: table-cell;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        color: $tab_button_text_color;
        .tab_button {
          position: relative;
          z-index: 1;
          padding: 20px 25px;
          display: block;
          text-decoration: none;
          color: $tab_button_text_color;
        }
        &:before {
          @extend %animate;
          opacity: 0;
          content: '';
          display: block;
          position: absolute;
          height: 5px;
          width: 0;
          bottom: 0;
          left: 50%;
          right: 50%;
          background: $tab_button_active_border_color;
        }
        &:after {
          @extend %animate;
          opacity: 0;
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 0;
          bottom: 0;
          top: 0;
          left: 50%;
          right: 50%;
          background: $tab_button_hover_background_color;
        }
        &:hover {
          &:before {
            @extend %animate;
            opacity: 1;
            left: 0;
            right: 0;
            width: 100%;
          }
          &:after {
            @extend %animate;
            opacity: 1;
            left: 0;
            right: 0;
            width: 100%;
          }
          .tab_button {

          }
        }
        &.active {
          &:before {
            @extend %animate;
            opacity: 1;
            left: 0;
            right: 0;
            width: 100%;
          }
          &:after {
            @extend %animate;
            opacity: 0;
            width: 100%;
            top: 100%;
            height: 0;
          }
          .tab_button {
            cursor: default;
          }
        }
      }
    }
    .tabs_contents {
      &>.tab_content {
        &.active {
          padding: 20px 0;
        }
      }
    }
  }
  &_vertical {
    display: table;
    .tabs_buttons {
      display: table-cell;
      width: 30%;
      padding: 0 15px 0 0;
      .tab_button_wrapper {
        position: relative;
        display: block;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        color: $tab_button_text_color;
        .tab_button {
          position: relative;
          z-index: 1;
          padding: 20px 25px;
          display: block;
          text-decoration: none;
          color: $tab_button_text_color;
        }
        &:after {
          @extend %animate;
          opacity: 0;
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 0;
          bottom: 0;
          top: 0;
          left: 0;
          right: 100%;
          background: $tab_button_hover_background_color;
        }
        &:hover {
          &:after {
            @extend %animate;
            opacity: 1;
            left: 0;
            right: 0;
            width: 100%;
          }
          .tab_button {

          }
        }
        &.active {
          &:after {
            @extend %animate;
            opacity: 1;
            left: 0;
            right: 0;
            width: 100%;
          }
          .tab_button {
            cursor: default;
          }
        }
      }
    }
    .tabs_contents {
      display: table-cell;
      width: 70%;
      vertical-align: top;
      &>.tab_content {
        &.active {
          padding: 15px 0 0 15px;
        }
      }
    }
  }
}